{% extends 'base.html' %}
{% block body %}
<div class="container my-4"><div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static\pexels-bekir-donmez-1233258.jpg" width = 1200 height = 500 class="d-block w-100 my-4" alt="...">
      <h1 class ='text-center'>Contact Us</h1><div class="mb-3">
      <form method='post' action='/contact'>
        {% csrf_token %}
        <div class ='for-group'>


      

        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="name" placeholder="John Wick">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Write Your Query Here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button class="btm btn-primary" type="submit">Submit</button>
    </div>

{% endblock body %}
{% block title %}Contact{% endblock title %}

